:root{
    --primary-color: #f94f2f;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --gold-star: #f0f026;

    --height-navbar: 33px;
    --height-header: 120px;
    --height-header-sort-bar: 46px;
    --height-search: calc(var(--height-header) - var(--height-navbar));
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.33334%;
}

.btn{
    font-size: 1.4rem;
    color: var(--text-color);
    background-color: var(--white-color);
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growd{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-item{
    list-style: none;
}

.pagination-item__link{
    --height: 30px;
    text-decoration: none;
    display: block;
    margin: 0 12px;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    font-size: 2rem;
    color: rgb(112, 111, 111);
    text-align: center;
    border-radius: 2px;
}

.pagination-item-action .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item-action .pagination-item__link:hover{
    background-color: #f16b50;
}

.pagination-item__link-icon{

}

